div
  a(href="/auth/twitter")
    img(src="images/sign-in-with-twitter-l.png", width="154", height="24")
div
  a(href="/auth/facebook")
    img(src="images/login-with-facebook.png", width="154", height="22")
div
  a(href="/auth/dropbox")
    img(src="images/login-with-dropbox.png", width="154", height="26")

